TRUSTED_PROXY_CIDR=127.0.0.1/32
RATE_LIMIT_ZONE_SIZE=20m
RATE_LIMIT_RPS=20r/s
RATE_LIMIT_BURST=40

CERTBOT_EMAIL=ops@pix2pi.com.tr
CERTBOT_DOMAINS=api.pix2pi.com.tr,panel.pix2pi.com.tr,auth.pix2pi.com.tr,pos.pix2pi.com.tr
CERT_RENEW_HOUR=3
CERT_RENEW_MINUTE=15
