ROOT_DOMAIN=pix2pi.com.tr

API_DOMAIN=api.pix2pi.com.tr
PANEL_DOMAIN=panel.pix2pi.com.tr
AUTH_DOMAIN=auth.pix2pi.com.tr
POS_DOMAIN=pos.pix2pi.com.tr

API_UPSTREAM=127.0.0.1:9010
PANEL_UPSTREAM=127.0.0.1:7100
AUTH_UPSTREAM=127.0.0.1:9001
POS_UPSTREAM=127.0.0.1:7200

HEALTH_ALLOW_CIDR=127.0.0.1/32
