version: v1
e2e_rules:
  auth_tenant_scenario_enabled: __E2E_AUTH_TENANT_SCENARIO_ENABLED__
  dashboard_monitoring_scenario_enabled: __E2E_DASHBOARD_MONITORING_SCENARIO_ENABLED__
  erp_accounting_scenario_enabled: __E2E_ERP_ACCOUNTING_SCENARIO_ENABLED__
  ebelge_export_scenario_enabled: __E2E_EBELGE_EXPORT_SCENARIO_ENABLED__
  payment_reconciliation_scenario_enabled: __E2E_PAYMENT_RECONCILIATION_SCENARIO_ENABLED__
  smoke_profile: __E2E_SMOKE_PROFILE__

security_rules:
  cross_tenant_regression_enabled: __SECURITY_CROSS_TENANT_REGRESSION_ENABLED__
  auth_forbidden_regression_enabled: __SECURITY_AUTH_FORBIDDEN_REGRESSION_ENABLED__
  rate_limit_abuse_regression_enabled: __SECURITY_RATE_LIMIT_ABUSE_REGRESSION_ENABLED__
  secret_config_regression_enabled: __SECURITY_SECRET_CONFIG_REGRESSION_ENABLED__
  audit_export_isolation_enabled: __SECURITY_AUDIT_EXPORT_ISOLATION_ENABLED__
  regression_profile: __SECURITY_REGRESSION_PROFILE__
