DB_BOTTLENECK_WARN_MS=250
DB_BOTTLENECK_CRIT_MS=600

EVENT_BACKLOG_WARN_COUNT=2000
EVENT_BACKLOG_CRIT_COUNT=8000

REPORTING_IMPACT_WARN_MS=400
REPORTING_IMPACT_CRIT_MS=900

SINGLE_NODE_CPU_WARN_PERCENT=75
SINGLE_NODE_CPU_CRIT_PERCENT=90

DEPLOY_RISK_WARN_COUNT=2
DEPLOY_RISK_CRIT_COUNT=5

CLUSTER_TRANSITION_WARN_SCORE=70
CLUSTER_TRANSITION_CRIT_SCORE=90
