REALTIME_CORE_ENABLED=true
REALTIME_WEBSOCKET_ENABLED=true
REALTIME_SSE_ENABLED=true
REALTIME_CHANNEL_MODE=tenant_scoped
REALTIME_HEARTBEAT_SECONDS=30
REALTIME_MAX_CONNECTIONS_PER_TENANT=500
REALTIME_DEFAULT_TOPIC=platform-events

WORKFLOW_ENGINE_ENABLED=true
WORKFLOW_DEFAULT_TIMEOUT_SECONDS=900
WORKFLOW_RETRY_MAX=3
WORKFLOW_COMPENSATION_ENABLED=true
WORKFLOW_APPROVAL_ENABLED=true
WORKFLOW_OBSERVABILITY_ENABLED=true
WORKFLOW_DEFAULT_QUEUE=workflow-default
