REGISTRY_HEALTH_TTL_SECONDS=60
REGISTRY_STALE_AFTER_SECONDS=180
REGISTRY_MAX_INSTANCES_PER_SERVICE=20
REGISTRY_TENANT_VISIBILITY_MODE=tenant_scoped

MISSION_CONTROL_ALLOW_RESTART=true
MISSION_CONTROL_ALLOW_ISOLATE=true
MISSION_CONTROL_ALLOW_MAINTENANCE=true
MISSION_CONTROL_INCIDENT_NOTES=true
MISSION_CONTROL_DEFAULT_VIEW=service_status
