JOB_MAX_RETRY=5
JOB_RETRY_BACKOFF_SECONDS=30
JOB_IDEMPOTENCY_TTL_SECONDS=86400
JOB_AUDIT_RETENTION_DAYS=90
JOB_TENANT_MODE=tenant_scoped
JOB_DEFAULT_QUEUE=platform-default

NOTIFY_EMAIL_ENABLED=true
NOTIFY_SMS_ENABLED=true
NOTIFY_PUSH_ENABLED=true
NOTIFY_WEBHOOK_ENABLED=true
NOTIFY_WEBHOOK_MAX_RETRY=6
NOTIFY_WEBHOOK_DLQ_ENABLED=true
NOTIFY_DEFAULT_SEVERITY=info
