PLUGIN_RUNTIME=go
PLUGIN_CONTRACT_VERSION=v1
PLUGIN_DEFAULT_STATE=inactive
PLUGIN_TENANT_MODE=tenant_scoped
PLUGIN_PERMISSION_MODE=least_privilege
PLUGIN_MIN_COMPATIBLE_CORE=1.0.0

PUBLIC_API_GATEWAY_MODE=enabled
PUBLIC_API_AUTH_MODE=api_key
PUBLIC_API_RATE_LIMIT_PER_MINUTE=120
PUBLIC_API_QUOTA_PER_DAY=50000
PUBLIC_API_SANDBOX_MODE=true
PUBLIC_API_DOCS_MODE=generated
